 body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
 }

 h1 {
    color: goldenrod
 }

 #message-el {
    font-family: italic;
 }

 button {
    background-color: goldenrod;
    padding: 10px 30px;
    color: green;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }